<!doctype html>
<html lang="en" ng-app>
  <head>
    <title>NCI Courses</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8" >
    <meta name="keywords" content="HTML5, CSS3, JavaScript, Bootstrap, JQuery, XHTML, XML, Node 0.10.x, server.js, AngularJS, Socket.IO">
    <meta name="description" content="Rich internet application that will display information about 5 of the programmes run at NCI">
    <meta name="author" content="Florin Ioan Taranu - Student ID: x14114640">
    <meta http-equiv="refresh" content="20">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <style>
      body {
        padding-top: 30px;
      }
      .jumbotron {
       background-image: url('../img/NCI1.jpg');
       background-attachment: fixed;
       min-height: 500px;
       margin-bottom: 0px;
     }
     .jumbotron2 {
       background-image: url('../img/NCI1.jpg');
       background-attachment: fixed;
       min-height: 500px;
       min-width: 100px;
       margin-bottom: 0px;
     }
    </style>
    
    <script>
      function ChatController($scope) {
        var socket = io.connect();

        $scope.messages = [];
        $scope.roster = [];
        $scope.name = '';
        $scope.text = '';

        socket.on('connect', function () {
          $scope.setName();
        });

        socket.on('message', function (msg) {
          $scope.messages.push(msg);
          $scope.$apply();
        });

        socket.on('roster', function (names) {
          $scope.roster = names;
          $scope.$apply();
        });

        $scope.send = function send() {
          console.log('Sending message:', $scope.text);
          socket.emit('message', $scope.text);
          $scope.text = '';
        };

        $scope.setName = function setName() {
          socket.emit('identify', $scope.name);
        };
      }
    </script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.5.1.min.js"></script>
    <script type="text/javascript">
      $(document).ready (function(){
        
      });
    </script>
  </head>
  <body>
    
    <div class="jumbotron">
      
    </div>
    
    <div class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="pull-right">
          <!--<a href="https://c9.io" class="brand">Cloud9 IDE</a>-->
        </div>
      </div>
    </div>
    
    <div class="container">
      
      <div class="row span9">
        
        <div class="100%">
          
          <div class="row row-sm-height">
            <section class="col-sm-8 col-sm-push-2">
              <article class="targetArticle">
                <h2>Part Time Courses</h2>
                <p class="col-sm-100%">
                    At NCI we run a wide range of courses in the evening to facilitate your lifestyle.
                </p>
                <div class="row">
                </div>
              </article>
            </section>
          </div>
          
          <!--<ul class="nav nav-list well">-->
          <!--  <li class="nav-header">Local Users</li>-->
          <!--  <li ng-repeat="user in roster" ng-bind="user">-->
          <!--  </li>-->
          <!--</ul>-->
          
        </div>
      </div>
      <div class="span9">
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th class="span1">Name</th>
                <th class="span2">Feedback</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="msg in messages">
                <td class="span2" ng-bind="msg.name"></td>
                <td class="span4" ng-bind="msg.text"></td>
              </tr>
            </tbody>
          </table>
          <div class="row controls">
            <form ng-submit="send()">
              <div class="span2">
                <input type="text" class="input-block-level" ng-model="name" ng-change="setName()" placeholder="Your Name">
              </div>
              <div class="input-append span8">
                <input type="text" class="span4" ng-model="text" placeholder="Message">
                <input type="submit" class="span2 btn btn-primary" value="Send" ng-disabled="!text">
              </div>
            </form>
          </div>
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/angular.min.js"></script>
    
    <div class="jumbotron2">
      
    </div>
    
    <footer class="container-fluid">
        <h1 align='left'>NCI</h1>

    </footer>
    
  </body>
</html>
